<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455166254173-hubvdklgf6gsadn0cr75k40c3akp0r6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455166254173-hubvdklgf6gsadn0cr75k40c3akp0r6l</string>
	<key>API_KEY</key>
	<string>AIzaSyB9PL3E2OFbqGt0UW9Az1e5rKXhtwl0wfg</string>
	<key>GCM_SENDER_ID</key>
	<string>455166254173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footwear</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-a0656</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-a0656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455166254173:ios:ac1bc84eac58403a6e41b4</string>
</dict>
</plist>